<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SMAddressBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SMAddressBook_Adhoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SMAddressBook_AppStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5062B61417C4C10400A2495D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF241C75180931AE001A7AA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF597C2518092C7B0056EA15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF83D446185965C2002C1AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF83D4B118596B50002C1AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF83D51C18596C9A002C1AB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
